@model BTL.Models.DanhGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: red">Ý Kiến Của Mọi Người</h2>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NhanXet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanXet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IDRuou }) |
    @Html.ActionLink("Xem Ý Kiến Mọi Người", "Index")
</p>
